/*general styles*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.content {
    flex: 1;
}

.main-section {
    height: 26rem;
    width: 100%;
    background-color: #d8f8e1;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5rem;
}

.main-section-individual {
    height: 10rem;
    width: 100%;
    background-color: #d8f8e1;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-content {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.about-section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.about-colum {
    width: 33%;
}

.about-column-text {
    width: 80%;
    text-align: justify;
    font-family: 'Assistant', sans-serif;
}

.about-colum-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
}

.footer {
    background-color: #b0c2f2;
    width: 100%;
    height: 8rem;
}

.footer-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.footer-colum {
    width: 33%;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-borde {
    text-decoration: none;
    padding: .375rem .75rem;
    border: 1px solid #007bff;
    border-radius: .25rem;
    color: #007bff;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out;
}

.btn-borde:hover,
.btn-borde:active,
.btn-borde:focus {
    color: #fff;
    background-color: #007bff;
}

label {
    display: inline-block;
    width: 150px;
}

.div-inventario{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.targets-inventario{
    width: 100%;
}

.target-single{
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.menu > li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.services:hover .dropdown {
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #4c9e9e;
    }
}